{% extends "layout.html" %}
{% block title %}Administration panel{% endblock %}

{% block pagebar %}
{% include "admin.nav.html" %}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="page-subtitle">Create keyword</h2></div>
  <div class="panel-body">
    <form class="form-inline" role="form" method="post">
      <div class="input-group">
        <input type="text" name="keyword" class="form-control" placeholder="enter a new keyword">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"> Create</button>
        </span>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h2>Keywords</h2></div>
  <table class="table table-striped">
   <thead>
    <th>Keyword</th>
    <th>Since</th>
    <th>Mentions</th>
    <th>Rating</th>
    <th>Rank</th>
   </thead>
   <tbody>
    {% for keyword in keywords %}
    <tr>
      <td>{{ keyword.keyword }}</td>
      <td>3 months ago</td>
      <td>{{ keyword.tasks | length }}</td>
      <td>{{ ratings.get(keyword.keyword) }}</td>
      <td>{{ ranks.get(keyword.keyword) }}</td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
</div>

{% endblock %}
