<div class="row">
  <div class="col-xs-4">
    <h1 class="pagebar-title">Administration Panel</h1>
  </div>
  <div class="col-xs-8">
    <ul class="nav nav-pills pagebar-nav">
      <li {% if request.path == '/admin/tasks' %} class="active" {% endif %}>
        <a href="/admin/tasks">Open tasks</a>
      </li>
      <li {% if request.path == '/admin/workers' %} class="active" {% endif %}>
        <a href="/admin/workers">Workers</a>
      </li>
      <li {% if request.path == '/admin/keywords' %} class="active" {% endif %}>
        <a href="/admin/keywords">Keywords</a>
      </li>
    </ul>
  </div>
</div>
