{% extends "layout.html" %}
{% block title %}Administration panel{% endblock %}

{% block pagebar %}
{% include "admin.nav.html" %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h2>Open Tasks</h2></div>
  <table class="table table-striped">
   <thead>
        <th>ID</th>
        <th>Keyword</th>
        <th>Paragraph</th>
        <th>Created</th>
        <th>Price</th>
        <th>Price bonus</th>
        <th>Answers</th>
   </thead>
   <tbody>
     {% for task in tasks %}
        <tr>
          <td>{{task.id}}</td>
          <td>{{task.keyword | safe }}</td>
          <td>{{task.paragraph | truncate(90,True) | safe }}</td>
          <td>{{task.datetime | ago }}</td>
          <td>{{task.price}}</td>
          <td>{{task.price_bonus}}</td>
          <td>{{task.answered}}/{{task.answers_requested or 3}}</td>
        </tr>
     {% endfor %}
   </tbody>
  </table>
</div>
<div class="pull-right text-right">
  {{ pagination.info|safe }}
  {{ pagination.links|safe }}
</div>
{% endblock %}
