{% extends "layout.html" %}
{% block title %}Administration panel{% endblock %}

{% block pagebar %}
{% include "admin.nav.html" %}
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h2>Workers</h2></div>
  <table class="table table-striped">
   <thead>
    <th>ID</th>
    <th>Registered</th>
    <th>Total Answers</th>
    <!--<th>Failed Answers</th>-->
    <th>Rating</th>
    <th>Status</th>
   </thead>
   <tbody>
    {% for worker in workers %}
    <tr {%if worker.blocked == 1 %} class="danger" {% endif %} >
      <td>{{ worker.id }}</td>
      <td>{{ worker.first_seen | humanize_date }} </td>
      <td>{{ worker.answers|length }} </td>
      <td>{{ worker.worker_rating }}</td>
      <td>
        <form class="form-inline" role="form" method="post">
            <input type="hidden" name ="worker_id" value="{{worker.id}}">
              <button class="btn {% if worker.blocked == 1 %} btn-danger active
                {% else %} btn-default {% endif %}" type="submit"> 
                {% if worker.blocked == 1 %}
                    Blocked
                {% else %}
                    Block
                {% endif %}
            </button>
        </form>  
        </td>
    </tr>
    {% endfor %}

   </tbody>
  </table>
</div>
{% endblock %}
