{% extends "layout.html" %}
{% block title %}{{keyword.keyword}} analysis{% endblock %}

{% block head %}
<script>
 var mentions = {{ mentions | safe }}
</script>
<script src="/static/keyword.js"></script>
{% endblock %}

{% block pagebar %}
<h1 class="pagebar-title">{{ keyword.keyword }}</h1>
{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading"><h2>Stats</h2></div>
  <div class="panel-body">
    <ul class="keyword-stats">
      <li><span class="glyphicon glyphicon-time"></span>Since: {{ keyword.added|ago(1) }}</li>
      <li><span class="glyphicon glyphicon-comment"></span>Total mentions: {{ num_mentions}}</li>
      <li><span class="glyphicon glyphicon-star"></span>Rating: {{ average|rate_average}}</li>
      <li><span class="glyphicon glyphicon-flash"></span>Score: {{ '%0.2f' % average|float }}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Mentions</h2></div>
      <div class="panel-body">
       <div id="keyword-pie" class="keyword-pie"></div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>History</h2></div>
      <div class="panel-body">
        <div id="keyword-stack" class="keyword-stack"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}