<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class='container'>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              <p>
              {% for category,message in messages %}
              <span class="alert alert-{{category}}">{{message}}</span>
              {% endfor %}
              </p>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
