{% extends "layout.html" %}
{% block title %}AIC 13{% endblock %}
{% block content %}
<style type="text/css">
.task_text {
    margin-top: -10px;
    background-color: #e3e3e3;
    padding: 5px;
    padding-left: 10px;
    border-radius: 2px;

}
</style>
<h1>Solve a task</h1>
{% if not task %}
<p class="lead">Oh, there is not task to solve! Try again later...</p>
{% else %}
<form action="{{ url_for("solve_task") }}" method="POST">
    <input type="hidden" name="task_id" value="{{task.id}}" />
    <div class="row">
        <div class="col-md-3">
            <input id="user_id" type="text" name="user_id" value="{{user_id}}" placeholder="User ID" />
        </div>
    </div>
    <div>
        <p class="lead">Question: {{task.task_description}} </p>
        <p class="task_text">{{task.task_text}}</p>
    </div>
    <div>
        {% for option in task.answer_options() %}
            <input type="radio" name="answer" value="{{option}}" /> {{option}}
        {% endfor %}
    </div>
    <br/>
    <input class="btn" type="submit" value="Save and Continue" />
</form>

{% endif %}
{% endblock %}
