{% extends "layout.html" %}
{% block title %}AIC 13{% endblock %}
{% block content %}
<h1>Solve a task</h1>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  <p>
  {% for category,message in messages %}
  <span class="alert alert-{{category}}">{{message}}</span>
  {% endfor %}
  </p>
{% endif %}
{% endwith %}
{% if not task %}
<p class="lead">Oh, there is not task to solve! Try again later...</p>
{% else %}
<form action="{{ url_for("solve_task") }}" method="POST">
    <input type="hidden" name="task_id" value="{{task.id}}" />
    <div class="row">
        <div class="col-md-3">
            <input id="user_id" type="text" name="user_id" value="{{user_id}}" placeholder="User ID" />
        </div>
    </div>
    <div>
    <span class="lead">Question:</span>
    <p>{{task.task_description}}</p>
    </div>
    <div>
        {% for option in task.answer_options() %}
            <input type="radio" name="answer" value="{{option}}" /> {{option}}
        {% endfor %}
    </div>
    <input class="btn" type="submit" value="Save and Continue" />
</form>

{% endif %}
{% endblock %}
