html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #f6f6f6;
}

.index-bg {
  background: #056b57;
}

.navbar-top {
  background: #14a085;
  margin: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 4px solid #0d9378;
}

.navbar-top .navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-shadow: 0 2px #0d9378;
}

.navbar-top .navbar-brand:hover {
  color: white;
}

.navbar-top-control span{
  font-size: 20px;
  text-shadow: 0 2px #0d9378;
  color: white;
}

.navbar-top .navbar-form {
  width: 400px;
}

.index-title {
  margin: 0;
  color: white;
  font-size: 42px;
  margin-top: 150px;
  text-align: center;
}

.index-search {
  width: 60%;
  margin: 27px auto;
}

.index-search .form-group{
  width: 100%;
}

.index-search .form-control, .navbar-search .form-control {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  border: 2px solid #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}

.index-search .form-control:focus, .navbar-search .form-control:focus {
  box-shadow: none;
  border: 2px solid #d1d1d1;
  box-shadow: inset 0 -2px #d1d1d1;
}

.index-search .btn, .navbar-search .btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #f0776c;
  text-shadow: 0 2px #d76b60;
  color: white;
  font-weight: bold;
  background: #f0776c;
  box-shadow: inset 0 -3px #d76b60;
}

.index-caption {
  text-align: center;
  color: white;
  font-size: 18px;
}

.search-noresults {
  font-size: 18px;
}

.keyword-pie {
  height: 300px;
}

.keyword-stack {
  height: 300px;
}

.keyword-stats {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.keyword-stats li {
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 25px;
}

.keyword-stats span {
  margin-right: 9px;
}

.pagebar {
  padding-top: 15px;
  background: white;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 0 #ddd;
}

.pagebar-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 32px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.pagebar-nav {
  margin: 0;
  display: inline-block;
}

.pagebar-nav li {
  margin-right: 20px;
}

.pagebar-nav li a {
  color: #333;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.pagebar-nav li.active a, .pagebar-nav li.active a:hover {
  background: none;
  font-weight: bold;
  color: #14a085;
  border-radius: 0;
  border-bottom: 4px solid #14a085;
}

.pagebar-nav li a:hover {
  color: #333;
  background: none;
}

.panel-heading h2 {
  margin: 5px 0;
  font-size: 25px;
}

.panel {
  box-shadow: 0 2px 0 #ddd;
}